@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    word-break: keep-all;
     /*한글은 한자씩 떨어지나 워드브레이크를 킵올을 사용하면 다 붙는다
     영어는 한단어씩 떨어진다.  */
}
body {
	font-size: 16px;
	background-color: #f6f8fa;
    font-family: 'GmarketSansMedium', sans-serif;
}
.align_center {
	display: flex;
	align-items: center;
}
a {
	font-size: inherit;
	font-weight: 500;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}